body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
}

a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}

/*Styles for new form page*/

label {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  padding-right: 25px;
}

.form-group {
  padding: 40px;
  min-height: 50px;
  max-width: 280px;
  background-color: #fff;
  border: 1px solid #efefef;
}

.error {
  color: #cc002e;
  font-weight: bold;
}


